#ProductContainer{
    margin-top: 15px;
    max-width: 100%!important;    
    justify-content: flex-start;
}

#productRow{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
-ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#search {
margin: 10px;
width: 55%;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url("../icons/search.png");
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

#search:hover {
width: 100%;
}

#search:focus {
width: 100%;
}

.columnStyle{
    margin: 5px;
    min-height: 100vh !important;
    border-radius: 2%;
    border-right: solid 1px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.726);
    height: 100 !important;
}
.containerStyle{
    width: 100% !important;
    max-width: 100% !important;
    float: left;
    min-height: 100vh !important;
    background-image: url("../icons/wallpaper.jpg") !important;
    background-size: 100%;
}
.filtersStyle{
    margin-top: 45%;
    margin: 0;     
}

.product{
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 22% !important;
    border: solid 1px rgb(177, 186, 238);
    border-radius: 2px;
}

.product:hover{
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 22% !important;
    cursor: pointer;
    border: solid 1px rgb(177, 186, 238);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.212);
}

.product h6{
    margin-top: 10px;
}

#productPrice{
    background: radial-gradient(rgba(153, 158, 153, 0.829), transparent);
    padding: 5px;
    padding-left: 10%;
    color: black;
}

.btnDetails{
    margin: 5px;
}

.photoStyle{
    height: 150px !important;
    width: 80% !important;
    padding: 2%;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.photoStyle:hover{
    height: 150px !important;
    width: 85% !important;
}

.filterInput{
    width: 40% !important;
    margin: 2px;
}

.filterDiv{
    display: inline;
}

#priceFilter{
    color: white;
    font-weight: bold;
    font-size: large;
}

#filtersTittle{
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 25%;
    margin-top: 25%;
}

#selectCategory{
    margin-top: 15% !important;
}

#refreshBtn{
    margin-top: 15% !important;
}