#ProductContainer{
    margin-top: 15px;
    max-width: 100%!important; 
    flex-direction: column;
}
/* width */
#productRow::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  #productRow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #productRow::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #productRow::-webkit-scrollbar-thumb:hover {
    background: lightslategray; 
  }
#productRow{
    
  overflow: auto;
  
  max-height: 70vh !important;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
-ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#search {
margin: 10px;
width: 55%;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-image: url("../icons/search.png");
background-size:100% 100vh ;
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
}

#search:hover {
width: 100%;
}

#search:focus {
width: 100%;
}

.columnStyle{
    background-color: #7F7C95;
    margin-left: 2px !important;
    margin-top: 2px !important;
    height: 99vh;
}
.containerStyle{
    width: 100% !important;
    max-width: 100% !important;
    float: left;
    min-height: 100vh !important;
    background-color: rgba(252,200,201,0.5);
    background-size:100% 100vh ;
}
.filtersStyle{
    margin-top: 45%;
    margin: 0; 
    
}

.product{
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 22% !important;
    border: solid 1px rgb(177, 186, 238);
    border-radius: 10px;
    background-color: white;
}

.product:hover{
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 22% !important;
    cursor: pointer;
    border: solid 1px rgb(177, 186, 238);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.212);
}

.product h6{
    margin-top: 10px;
}

#productPrice{
    background: radial-gradient(#AB97AF, transparent);
    padding: 5px;
    padding-left: 2%;
    color: black;
}

.btnDetails{
    margin: 5px;
}

.photoStyle{
    height: 150px !important;
    width: 80% !important;
    padding: 2%;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.photoStyle:hover{
    height: 150px !important;
    width: 85% !important;
}

.filterInput{
    width: 40% !important;
    margin: 2px;
}

.filterDiv{
    display: inline;
}

#priceFilter{
    color: white;
    font-weight: bold;
    font-size: large;
}

#filtersTittle{
    color: white;
    font-family: 'B612', sans-serif;
    margin-bottom: 25%;
    margin-top: 25%;
}

#selectCategory{
    margin-top: 15% !important;
}

#refreshBtn{
    margin-top: 15% !important;
    margin-bottom: 15% !important;
}

#outOfStockPreview{
    background: radial-gradient(rgba(153, 158, 153, 0.829), transparent);
    padding: 5px;
    padding-left: 10%;
    color: red;
}

.news{
    box-sizing: border-box;
}

#newsTitle {
    margin: 10px;
    width: 30%;
    height: 10%;
    box-sizing: border-box;
    border:  2px solid #FA8072;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }
    
#newsBody {
    margin: 5px;
    width: 55%;
    box-sizing: border-box;
    border: 2px solid #FA8072;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }
    
#newsBody:hover {
width: 100%;
}

#news:focus {
width: 100%;
}
