.UserManagmentContainer{
    height: 100vh !important;
}
.UserManagmentImg{
    padding: 0 !important;
    width: 50px !important;
}
.UserManagmentBtn{
    margin: 1px;
}
.productDiv{
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 4% !important;
}

.CartProdImg{
    padding: 0 !important;
    width: 100px !important;
    height: 100px !important;
}

#bannedText{
    color: red;
}