USE [master]
GO
/****** Object:  Database [eshop]    Script Date: 5.6.2020. 16.05.16 ******/
CREATE DATABASE [eshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eshop', FILENAME = N'C:\Users\Ca\eshop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eshop_log', FILENAME = N'C:\Users\Ca\eshop_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eshop]
GO
USE [eshop]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 5.6.2020. 16.05.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CART_ADD_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 5.6.2020. 16.05.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](128) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGS]    Script Date: 5.6.2020. 16.05.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGS](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_COUNTER] [int] NULL,
 CONSTRAINT [PK_LOGS] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 5.6.2020. 16.05.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[NEWS_TITTLE] [varchar](128) NOT NULL,
	[NEWS_DESCRIPTION] [varchar](512) NULL,
	[NEWS_BODY] [varchar](2000) NOT NULL,
	[NEWS_DATE_TIME] [datetime] NOT NULL,
	[NEWS_PHOTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_NEWS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[NEWS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CART_ID] [int] NOT NULL,
	[RESERVED_ID] [int] NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC,
	[USER_ID] ASC,
	[CART_ID] ASC,
	[RESERVED_ID] ASC,
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION_LIST]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION_LIST](
	[PERMISSION_ID] [int] NOT NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_PERMISSION_LIST] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSIONS]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSIONS](
	[PERMISSION_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERMISSION_NAME] [varchar](128) NOT NULL,
 CONSTRAINT [PK_PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](128) NOT NULL,
	[PRODUCT_PRICE] [decimal](10, 3) NOT NULL,
	[PRODUCT_EXPIRE_DATE] [datetime] NULL,
	[PRODUCT_DESCRIPTION] [varchar](2000) NULL,
	[PRODUCT_PHOTO] [nvarchar](max) NULL,
	[PRODUCT_AMOUNT] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVED]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVED](
	[RESERVED_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CART_ID] [int] NOT NULL,
	[RESERVED_AMOUNT] [int] NOT NULL,
	[RESERVED_ORDERED] [bit] NOT NULL,
 CONSTRAINT [PK_RESERVED] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC,
	[USER_ID] ASC,
	[CART_ID] ASC,
	[RESERVED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_LIST]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_LIST](
	[ROLE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_ROLE_LIST] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](128) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5.6.2020. 16.05.17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](128) NOT NULL,
	[LAST_NAME] [varchar](128) NOT NULL,
	[E-MAIL] [varchar](128) NOT NULL,
	[BIRTH_DATE] [datetime] NULL,
	[PASSWORD] [varchar](512) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CART] ON 

INSERT [dbo].[CART] ([CART_ID], [USER_ID], [CART_ADD_DATE]) VALUES (2014, 4014, CAST(N'2020-06-05T15:18:27.840' AS DateTime))
INSERT [dbo].[CART] ([CART_ID], [USER_ID], [CART_ADD_DATE]) VALUES (2015, 4015, CAST(N'2020-06-05T15:26:43.960' AS DateTime))
INSERT [dbo].[CART] ([CART_ID], [USER_ID], [CART_ADD_DATE]) VALUES (2016, 4016, CAST(N'2020-06-05T15:27:51.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[CART] OFF
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1, N'Music Instruments')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (2, N'House elements')
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1004, N'Laptop')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[LOGS] ON 

INSERT [dbo].[LOGS] ([LOG_ID], [LOG_COUNTER]) VALUES (1, 183)
SET IDENTITY_INSERT [dbo].[LOGS] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

SET IDENTITY_INSERT [dbo].[NEWS] OFF
INSERT [dbo].[PERMISSION_LIST] ([PERMISSION_ID], [ROLE_ID]) VALUES (1, 2)
INSERT [dbo].[PERMISSION_LIST] ([PERMISSION_ID], [ROLE_ID]) VALUES (2, 2)
INSERT [dbo].[PERMISSION_LIST] ([PERMISSION_ID], [ROLE_ID]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[PERMISSIONS] ON 

INSERT [dbo].[PERMISSIONS] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (1, N'EditProduct')
INSERT [dbo].[PERMISSIONS] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (2, N'UserManagment')
INSERT [dbo].[PERMISSIONS] ([PERMISSION_ID], [PERMISSION_NAME]) VALUES (3, N'DeleteProduct')
SET IDENTITY_INSERT [dbo].[PERMISSIONS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
SET IDENTITY_INSERT [dbo].[RESERVED] ON 

INSERT [dbo].[RESERVED] ([RESERVED_ID], [CATEGORY_ID], [PRODUCT_ID], [USER_ID], [CART_ID], [RESERVED_AMOUNT], [RESERVED_ORDERED]) VALUES (5011, 1, 6010, 4015, 2015, 1, 0)
SET IDENTITY_INSERT [dbo].[RESERVED] OFF
INSERT [dbo].[ROLE_LIST] ([ROLE_ID], [USER_ID]) VALUES (1, 4015)
INSERT [dbo].[ROLE_LIST] ([ROLE_ID], [USER_ID]) VALUES (1, 4016)
INSERT [dbo].[ROLE_LIST] ([ROLE_ID], [USER_ID]) VALUES (1, 4017)
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (1, N'User')
INSERT [dbo].[ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [E-MAIL], [BIRTH_DATE], [PASSWORD]) VALUES (4014, N'Dejan', N'Cancar', N'ca_na@mail.com', CAST(N'1997-01-17T00:00:00.000' AS DateTime), N'1DF14C3C92D8B2C66A6428A404CB0D96')
INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [E-MAIL], [BIRTH_DATE], [PASSWORD]) VALUES (4015, N'Kertsi', N'Huqi', N'kersti@mail.com', CAST(N'1998-04-08T00:00:00.000' AS DateTime), N'B4AF804009CB036A4CCDC33431EF9AC9')
INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [E-MAIL], [BIRTH_DATE], [PASSWORD]) VALUES (4016, N'John', N'Vizz', N'john@mail.com', CAST(N'1990-01-01T00:00:00.000' AS DateTime), N'B4AF804009CB036A4CCDC33431EF9AC9')
SET IDENTITY_INSERT [dbo].[USERS] OFF
/****** Object:  Index [OWNS_A_CART_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [OWNS_A_CART_FK] ON [dbo].[CART]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PUBLISHED_NEWS_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [PUBLISHED_NEWS_FK] ON [dbo].[NEWS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_ORDER_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [HAS_ORDER_FK] ON [dbo].[ORDERS]
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC,
	[USER_ID] ASC,
	[CART_ID] ASC,
	[RESERVED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_PERMISSION_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [HAS_PERMISSION_FK] ON [dbo].[PERMISSION_LIST]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_IN_PERMISSION_LIST_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [IS_IN_PERMISSION_LIST_FK] ON [dbo].[PERMISSION_LIST]
(
	[PERMISSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BELONGS_TO_CATEGORY_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [BELONGS_TO_CATEGORY_FK] ON [dbo].[PRODUCTS]
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_RESERVATION_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [HAS_RESERVATION_FK] ON [dbo].[RESERVED]
(
	[USER_ID] ASC,
	[CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_RESERVED_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [IS_RESERVED_FK] ON [dbo].[RESERVED]
(
	[CATEGORY_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_ROLE_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [HAS_ROLE_FK] ON [dbo].[ROLE_LIST]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_IN_ROLES_LIST_FK]    Script Date: 5.6.2020. 16.05.17 ******/
CREATE NONCLUSTERED INDEX [IS_IN_ROLES_LIST_FK] ON [dbo].[ROLE_LIST]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_OWNS_A_CA_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_OWNS_A_CA_USERS]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_PUBLISHED_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK_NEWS_PUBLISHED_USERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_HAS_ORDER_RESERVED] FOREIGN KEY([CATEGORY_ID], [PRODUCT_ID], [USER_ID], [CART_ID], [RESERVED_ID])
REFERENCES [dbo].[RESERVED] ([CATEGORY_ID], [PRODUCT_ID], [USER_ID], [CART_ID], [RESERVED_ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_HAS_ORDER_RESERVED]
GO
ALTER TABLE [dbo].[PERMISSION_LIST]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSI_HAS_PERMI_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[PERMISSION_LIST] CHECK CONSTRAINT [FK_PERMISSI_HAS_PERMI_ROLES]
GO
ALTER TABLE [dbo].[PERMISSION_LIST]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSI_IS_IN_PER_PERMISSI] FOREIGN KEY([PERMISSION_ID])
REFERENCES [dbo].[PERMISSIONS] ([PERMISSION_ID])
GO
ALTER TABLE [dbo].[PERMISSION_LIST] CHECK CONSTRAINT [FK_PERMISSI_IS_IN_PER_PERMISSI]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_BELONGS_T_CATEGORY] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_BELONGS_T_CATEGORY]
GO
ALTER TABLE [dbo].[RESERVED]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_HAS_RESER_CART] FOREIGN KEY([USER_ID], [CART_ID])
REFERENCES [dbo].[CART] ([USER_ID], [CART_ID])
GO
ALTER TABLE [dbo].[RESERVED] CHECK CONSTRAINT [FK_RESERVED_HAS_RESER_CART]
GO
ALTER TABLE [dbo].[RESERVED]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_IS_RESERV_PRODUCTS] FOREIGN KEY([CATEGORY_ID], [PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([CATEGORY_ID], [PRODUCT_ID])
GO
ALTER TABLE [dbo].[RESERVED] CHECK CONSTRAINT [FK_RESERVED_IS_RESERV_PRODUCTS]
GO
ALTER TABLE [dbo].[ROLE_LIST]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_LIS_HAS_ROLE_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[ROLE_LIST] CHECK CONSTRAINT [FK_ROLE_LIS_HAS_ROLE_USERS]
GO
ALTER TABLE [dbo].[ROLE_LIST]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_LIS_IS_IN_ROL_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[ROLE_LIST] CHECK CONSTRAINT [FK_ROLE_LIS_IS_IN_ROL_ROLES]
GO
USE [master]
GO
